#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define MARK 2
#define CURSOR 3
#define SCROLL 4

//mouse cursol

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

&trackball_listener {
    scroller {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            //スクロール方向を逆転
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        LeftClick {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
            layers = <0 MARK CURSOR SCROLL>;
        };

        RightClick {
            bindings = <&mkp MB2>;
            key-positions = <17 18>;
            layers = <0 MARK CURSOR SCROLL>;
        };

        BackClick {
            bindings = <&mkp MB4>;
            key-positions = <15 16>;
            layers = <0 MARK CURSOR SCROLL>;
        };

        ForwardClick {
            bindings = <&mkp MB5>;
            key-positions = <27 28>;
            layers = <0 MARK CURSOR SCROLL>;
        };

        CtrlEnter {
            bindings = <&kp LC(ENTER)>;
            key-positions = <36 37>;
            layers = <0>;
        };
    };

    macros {
        compatible = "zmk,macros";

        // Torabo macro: type "LGTM!!" on a US layout.
        lgtm: lgtm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <5>;
            tap-ms = <5>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp L &kp G &kp T &kp M &kp N1 &kp N1>
                , <&macro_release &kp LSHFT>;
        };
    };

    behaviors {
        scroll_hold: scroll_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <140>;
            bindings = <&mo>, <&kp>;
        };

        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        chrome_prev_slow: chrome_prev_slow {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&none>, <&kp LC(LS(TAB))>;
        };

        chrome_next_slow: chrome_next_slow {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&none>, <&kp LC(TAB)>;
        };

        chrome_tabs_slow: chrome_tabs_slow {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&chrome_prev_slow>, <&chrome_next_slow>;
        };

        window_prev_slow: window_prev_slow {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&none>, <&kp LA(LS(TAB))>;
        };

        window_next_slow: window_next_slow {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&none>, <&kp LA(TAB)>;
        };

        windows_slow: windows_slow {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&window_prev_slow>, <&window_next_slow>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q          &kp W           &kp E     &kp R     &kp T                       &kp Y                &kp U        &kp I      &kp O      &kp P
&kp A          &kp S           &kp D     &kp F     &kp G                       &kp H                &kp J        &kp K      &kp L      &scroll_hold SCROLL SEMICOLON
&kp Z          &kp X           &kp C     &kp V     &kp B                       &kp N                &kp M        &kp COMMA  &kp DOT    &mt RIGHT_SHIFT SLASH
&kp LCTRL  &kp LALT  &none  &kp BACKSPACE  &lt 2 SPACE  &mt LEFT_SHIFT LC(SPACE)  &lt 2 RC(SPACE)  &lt 3 ENTER  &kp DEL  &kp RGUI  &kp RCTRL
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        //1

        UNUSED {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans    &trans     &trans    &trans  &trans
&trans  &trans  &none   &trans  &trans  &trans    &trans  &trans              &trans     &trans    &trans
            >;
        };

        //2

        MARK {
            bindings = <
&kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                    &kp LS(N6)     &kp LS(N7)     &kp LS(N8)  &kp LS(N9)  &kp LS(N0)
&kp N1      &kp N2      &kp N3      &kp N4      &kp N5                       &kp LS(LBKT)   &kp MINUS      &kp EQUAL   &kp LS(RBKT)  &kp LS(SEMI)
&kp N6      &kp N7      &kp N8      &kp N9      &kp N0                       &kp LS(MINUS)  &kp LS(EQUAL)  &kp LBKT    &kp RBKT    &kp BSLH
&trans      &trans      &none       &trans      &trans      &trans    &trans  &kp TAB                   &lgtm         &trans      &trans
            >;

            sensor-bindings = <&chrome_tabs_slow>;
        };

        //3

        CURSOR {
            bindings = <
&kp F1   &kp F2        &kp F3       &kp F4        &kp F5                     &kp HOME  &kp PAGE_UP  &kp PAGE_DOWN  &kp END        &kp ESC
&kp F6   &kp F7        &kp F8       &kp F9        &kp F10                    &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT_ARROW  &kp TAB
&kp F11  &kp F12       &out OUT_USB &out OUT_BLE  &bt BT_NXT                 &kp SQT   &kp LS(SQT)  &kp GRAVE      &kp LS(GRAVE)  &kp LS(BSLH)
&trans   &trans        &none        &kp DEL       &kp TAB  &trans    &trans  &trans                  &trans         &trans         &studio_unlock
            >;

            sensor-bindings = <&windows_slow>;
        };

        //4

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &none   &trans  &trans  &trans    &trans  &trans            &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };
    };
};
